<div class="container">
  <div class="row">
    <div class="col-md-4"></div><!-- col -->
    <div class="col-md-4">
      <h1>Log in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <div class="check-box">
            <label class="control-label">
              <%= f.check_box :remember_me %> Remember me
              <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </label>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit 'Login', class: 'btn btn-primary' %>
          <div class="special_links">
            <%= render "devise/shared/links" %>
          </div>
      </div>
      <% end %>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->





