<div id="products">
  <div class="container">
    <%= quick_options(["new", new_product_path]) if user_is_admin? %>


    <% @products_hash.each do |k, v| %>
      <%= content_tag :h2, :id => k.name do %>
        <%= k.name %>
        <small>
          <%= k.description.to_s %>
        </small>
      <% end %>
      <%= render :partial => 'product_table', :locals => {:products => v} %>
    <% end %>





  </div><!-- container -->
</div><!-- products -->

