<div id="product" class="container">
  <% if user_is_admin? %>
    <%= quick_options ['edit', edit_product_path(@product)] %>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <%= @product.name %>
        <small>
          <%= @product.description.to_s %>
        </small>
      </h1>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-8">


    </div>

    <div class="col-sm-4">
      <div class="product_spec">
        THC: <%= display_thc(@product) %>
      </div>
      <div class="product_spec">
        CBD: <%= display_cbd(@product) %>
      </div>
      <div class="product_spec">
        Butane (ppm): <%= display_butane(@product) %>
      </div>
    </div><!-- col -->
  </div>
    <!--<div class="col-sm-4"></div>-->
</div><!-- container -->






<p>
  <strong>Price:</strong>
  <%= @product.donation %>
</p>

